reference/
!reference/README_reference.md
data/*
!data/README_data.md
!data/*.py
!data/*.ipynb
workspace/*
!workspace/README_workspace.md
!workspace/*.py
!workspace/*.ipynb
workspace_orig/
workspace.orig/
workspace_old/
workspace_older/
workspace_2
workspace2
.*~
.snakemake/
src/hisat-3n/
